<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="box">
        <!-- <input type="text" v-model="val" @input="fn"> -->
        <!-- <input type="text" v-model.lazy="val" @input="fn"> -->
        <!-- <input type="text" v-model.number="val" @input="fn"> -->
        <!-- <p>{{val}}</p> -->
        <input type="checkbox" v-model="b">
        <p>{{b}}</p>
        <hr>
        <input type="checkbox" v-model="ary" value="pjc"> pjc <br>
        <input type="checkbox" v-model="ary" value="hh"> hh <br>
        <input type="checkbox" v-model="ary" value="tt"> tt <br>
        <p>{{ary}}</p>
        <hr>
        男：<input type="radio" value="0" v-model="num">
        女： <input type="radio" value="1" v-model="num">
        <p>{{ary2[num]}}</p>
    </div>
    <script src="vue.js"></script>
    <script>
        let v=new Vue({
            el:"#box",
            data:{
                val:'',
                b:false,
                ary:[],
                num:0,
                ary2:['男','女']
            },
            methods:{
                fn(ev){
                    console.log(this.val)
                }
            }
        })
    </script>
</body>
</html>